
.btn-test {
    -fx-font: bold italic 10pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-background-color: "blue";
}

.test {
    -fx-background-color: "blue";
    -fx-font: bold italic 10pt "Arial";
}